html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Open Sans', sans-serif;

    background-color: #1b1b1b;
    color: #ebebeb;
}

.header {
    padding: 28px 0;

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .header {
        padding: 20px 0;
        max-width: none;
        margin: none;
    }
}

.container {
    width: 100%;
}

.container.g1 {
    background-image: linear-gradient(to right bottom, #075745, #10735c, #1a9073, #25ae8b, #30cda4);
    padding: 70px 0;
}

@media (max-width: 960px) {
    .container.g1 {
        padding: 40px 20px;
    }

    .container {
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: auto;
}

.content .half {
    width: 49%;
    float: left;
}

.content .half.m {
    margin-left: 2%;
}

.content .third {
    width: 33.333%;
    float: left;
}

.content .two.third {
    width: 66.667%;
    float: left;
}

.content .skills {
    padding: 86px 0px 0 72px;
    box-sizing: border-box;
    overflow: hidden;
}

.skillbox {
    width: 100%;
    padding: 3px 2px 3px 18px;
    border-left: 1px solid white;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
}

@media (max-width: 960px) {
    .content {
        max-width: none;
        margin: none;
        overflow: hidden;
    }

    .content .half {
        width: 100%;
        display: inline-block;
    }

    .content .half.m {
        margin: 20px 0 0 0;
    }

    .content .two.third {
        width: 100%;
        display: inline-block;
    }

    .content .third {
        width: 100%;
        display: inline-block;
    }

    .content .skills {
        padding: 0px;
    }

    .skillbox {
        background: none;
        border: none;
        padding: 20px 0 0 0;
    }

    .skillbox b {
        font-size: 22px;
        line-height: 44px;
    }
}

.card {
    position: relative;
    width: 100%;
    height: 260px;

    background-position: center;
    background-size: cover;
    cursor: pointer;

    border-radius: 2%;
    overflow: hidden;

    box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.55);
}

.card.small {
    height: 160px; 
}

.card .info {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 8px 16px;
}

.card .info h2 {
    font-size: 22px;
    line-height: 0px;
}

.card:hover .info {
    opacity: 0.6;
}

.card:hover {
    background-size: 106%;
}

a.connect {
    padding: 5px 12px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    float: left;
    margin: 16px 8px 0 0;
}

a.connect i {
    margin-right: 8px;
}

a.connect:hover {
    background-color: white;
    color: black;
}

@media (max-width: 960px) {
    a.connect {
        width: 48%;
        margin: 16px 1% 0 1%;
        box-sizing: border-box;
        text-align: center;
    }
}

/* CARD DATA */
.card.p01 {
    background-image: url("../img/p01/card.png");
}

.card.p02 {
    background-image: url("../img/p02/card.png");
}

.card.p03 {
    background-image: url("../img/p03/card.png");
}

.card.p04 {
    background-image: url("../img/p04/card.png");
}